docuPhaseQ1/docuPhaseQ1/bin/**
docuPhaseQ1/docuPhaseQ1/obj/**
docuPhaseQ5/docuPhaseQ5/bin/**
docuPhaseQ5/docuPhaseQ5/obj/**
docuPhaseQ1/docuPhaseQ6/bin/**
docuPhaseQ6/docuPhaseQ6/obj/**
docuPhaseQ6/docuPhaseQ6/bin/Debug/netcoreapp3.1